<!-- Footer -->
<footer id="footer">
    <div class="inner">
      <ul class="icons">
        <li><a href="https://www.github.com/MCDAngelo" class="icon brands fa-github"><span
              class="label">Github</span></a></li>
        <li><a href="https://www.linkedin.com/in/mariacdangelo" class="icon brands fa-linkedin"><span
              class="label">LinkedIn</span></a></li>
        <li><a href="https://scholar.google.com/citations?user=nnldhNEAAAAJ&hl=en" class="icon solid fa-graduation-cap">
            <span class="label">Google Scholar</span></a></li>
        <li><a href="mailto: mcdangelo.website@gmail.com" class="icon solid fa-envelope"><span
              class="label">Email</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy;<%= new Date().getFullYear();%> Maria C. D'Angelo</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.poptrox.min.js"></script>
  <script src="js/browser.min.js"></script>
  <script src="js/breakpoints.min.js"></script>
  <script src="js/util.js"></script>
  <script src="js/main.js"></script>
  <script src="https://kit.fontawesome.com/cfe5a22a02.js" crossorigin="anonymous"></script>

</body>

</html>
