<!DOCTYPE HTML>
<!--
	Strata by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
  <title>MCDAngelo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="css/main.css" />
</head>

<body class="is-preload">

<!-- Header -->
 <header id="header">
    <div class="inner">
      <a href="/" class="image avatar"><img src="./images/maria-nyc-sq.png" alt="" /></a>
      <h1><strong>Hi, I'm Maria</strong>, a cognitive psychologist<br />
        turned data scientist and developer,<br />
        who loves the outdoors and textile arts.</h1>
        <br>
       <h1>Technical Skills</h1>
       <ul>
        <li class="skills-list"><strong>Data Science:</strong> Python, SQL, R, PySpark, LookerStudio</li>
        <li class="skills-list"><strong>Web Development:</strong> Python (Flask), Javascript (NodeJS, Express JS), HTML, CSS</li>
        <li class="skills-list"><strong>Other Programming:</strong> bash, DBT</li>
       </ul>
    </div>
  </header>
<!-- Main -->
<div id="main">