 <%- include('partials/header.ejs') %>

    <!-- One -->
    <section id="one">
      <header class="major">
        <h2>About Me</h2>
      </header>
      <p>I've always loved puzzles and problem solving. I also have always been
        a "people person", and was drawn to psychology after a serendipitous
        change to my schedule in first year of my undergrad. From that moment, I was able to
        combine my love of problem solving with my interest in humans and their behaviours.
      </p>
      <p>Keep reading to learn about my perspective on <a href="#arts_science">combining art, science, & caregiving</a>, 
        my background in <a href="#academic_work">academia</a>, and my <a href="#transition_datascience">transition to data science</a>.</p>
      <br>
      <hr>
      <br>

      <h3 id="arts_science">Combining Art, Science, & Caregiving</h3>
      <p>
        As a scientist with a PhD in cognitive psychology and a postdoctoral focus in cognitive neuroscience, I bring my love of science to my creative endeavors. My transition into data science deepened my fascination with geometric patterns and variations on a theme, reflecting the intricate connections I have studied in the human mind. Living in the Rockies has further inspired my work, intertwining my love for the outdoors with photography and textile arts. Each piece I craft is imbued with love and intention, often created during moments of caregiving as a mother of two. I spent countless hours postpartum creating knitted and sewn items that marked the passage of time, celebrating the joy of family and connection.
      </p>
      <p>
        My artistic practice honors my loved ones. I create with someone in mind, channeling my emotions into the work, while embracing my role as a process artist. I enjoy tinkering and learning new techniques to expand my creative toolkit. This exploration parallels my work in data science and coding, where myriad ways exist to solve problems and visualize patterns. Through my art, I reflect the structures, colors, and repetitions found in nature, inviting viewers to appreciate their beauty.
      </p>
      <br>
      <hr>
      <br>      <h3 id="academic_work">Academic Work</h3>
      <p>
        I completed my PhD in cognitive psychology where I focused on implicit learning and attention
        (i.e. how we learn and attend without our awareness). My work employed a mix of behavioural experiments and simulations using computational models.
        During my postdoc at the <a href="https://www.baycrest.org/About-Us-RRI">Rotman Research Institute</a> & University of Toronto I expanded my research program, testing how learning, memory, and attention
        are impacted in individuals with amnesia and in older adults showing the earliest signs of cognitive impairment.
      </p>
      <p>Up to date publications can be found on my <a href="https://scholar.google.com/citations?user=nnldhNEAAAAJ&hl=en">Google Scholar profile</a>. 
        For more on my academic work, see my <a href="/cv">CV</a>.</p>
      <br>
      <hr>
      <br>
      <h3 id="transition_datascience">My Transition to Data Science</h3>
      <p>
        At this time, data science was really exploding, and I completed a number of online courses in programming and machine learning to help me make the transition.
        I started attending, and then leading, a Toronto-based meetup group for <a href="https://www.meetup.com/toronto-womens-data-group/">women in data</a>, and served as a committee member for the <a href="https://www.torontomachinelearning.com/">Toronto Machine Learning Series</a>.
        Since leaving academia, I've had a number of different roles:
      </p>
      <ul>
        <li>Maple Leaf Sports & Entertainment (2016-2017)
          <ul>
            <li>Research Scientist in a team focused on business intelligence</li>
            <li>Conducted research on season seat holder sentiment, in-the-moment event sentiment using Happy-Or-Not consoles, and ticket reseale behaviours</li>
            <li>Analyzed survey data in R using factor analysis and ordinal regression, ticket resale data was analyzed using cluster analysis</li>
            <li>Created dashboard in Shiny to replace weekly printout report outlining KPIs for the Sales & Service organization</li>
            <li>Created programs in python to scrape ticket resale data from StubHub and to extract data from the Happy-Or-Not API for reporting</li>
          </ul>
        </li>
        <li>Zero Gravity Labs, LoyaltyOne (2017-2018)
          <ul>
            <li>Data Scientist in an innovation lab focused <a href="https://www.mckinsey.com/capabilities/strategy-and-corporate-finance/our-insights/enduring-ideas-the-three-horizons-of-growth.">Horizon 3</a> work in machine learning.</li>
            <li>My team and I used NLP and Graph methods to generate embeddings to represent grocery products using transactional records from Metro and Sobeys.</li>
            <li>Product embeddings were validated using classification models and were later used to power recommendation models for AirMiles.</li>
          </ul>
        </li>
        <li>Delphia (2018-2020)
          <ul>
            <li>Senior Data Scientist at this fin-tech startup, where the vision was to allow users to invest with their data</li>
            <li>Created methods to validate timeseries models that forecasted surprise sales growth for a set of portfolio companies</li>
            <li>Developed pipelines label and model consumer sentiment and purchase intent using Twitter data.</li>
            <li>Constructed and deployed a daily consumer sentiment survey, allowing us to incorporate "in-the-moment" sentiment data into our models.</li>
            <li>I became the Director of Data Science in 2019, leading a team of 6 data scientists.</li>
          </ul>
        </li>
        <li>Shopify (2020-present)
          <ul>
            <li>Manager for a Data Science team focused on supporting commercial work in International Growth. In this role I worked closely with our FP&A teams and stakeholders in Marketing and Partnerships.
            </li>
            <li>Manager of Advanced Insights team for Growth. My team created a high-level report ("The Grid") to track our marketing funnel metrics. The Grid included forecasts on merchant growth as well as anomoly detection methods to detect significant variations in key metrics.
            </li>
            <li>Manager of Monetization Data Science team. My team worked with product teams focused on plans, pricing, and incentives. We conducted a global A/B test on a $1 paid trial, which has since been adopted as the default <a href="https://www.shopify.com/ca/free-trial-offer">sign-up experience</a>.
            </li>
            <li>Staff Data Scientist on People Analytics team. I worked on our Manager and Crafter tracks, including <a href="https://betakit.com/shopify-changes-employee-compensation-model-being-a-manager-now-has-no-effect-on-compensation/">compensation frameworks</a> and new <a href="https://www.shopify.com/news/mastery">~Mastery</a> system.
            </li>
          </ul>
          
        </li>
      </ul>
      </p>
      <ul class="actions">
        <li><a href="/" class="button">Back</a></li>
      </ul>
    </section>
  </div>

  <%- include('partials/footer.ejs') %>
