 <%- include('partials/header.ejs') %>

    <section id="three">
		<h2>Adventures</h2>

        <p>I didn't grow up spending time in the outdoors, I discovered this joy as an adult. 
            Below are some recent shots of adventures I've been on with my family.
            More to come as I continue to work on this site.
        </p>
        <br>
        <hr>
        <br>
        <h3 id="hiking">Hiking & Backpacking</h3>
        <div class="row">
            <article class="col-6 col-12-xsmall work-item">
              <a href="./images/fulls/canmore-engine-bridge-summer-2.png" class="image fit thumb">
                <img src="./images/fulls/canmore-engine-bridge-summer-2.png" alt="" /></a>
              <h3>Canmore 2023</h3>
              <p>Getaways to our home away from home.</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <a href="./images/fulls/torres-del-paine-end.png" class="image fit thumb">
                  <img src="./images/fulls/torres-del-paine-end.png" alt="" /></a>
                <h3>O-Circuit in Torres del Paine 2020</h3>
                <p>Breathtaking views, high winds, and new friends.</p>
              </article>
              <article class="col-6 col-12-xsmall work-item">
                <a href="./images/fulls/tronador-evening.png" class="image fit thumb">
                  <img src="./images/fulls/tronador-evening.png" alt="" /></a>
                <h3>Weekend in Tronador 2020</h3>
                <p>A refugio surrounded by glaciers.</p>
              </article>
        </div>
        <br>
        <hr>
        <br>
        <h3 id="scuba">Scuba</h3>
        <div class="row">
            <article class="col-6 col-12-xsmall work-item">
                <a href="./images/fulls/hawaii-dive-boat.png" class="image fit thumb">
                  <img src="./images/fulls/hawaii-dive-boat.png" alt="" /></a>
                <h3>Hawaii 2020</h3>
                <p>A family trip full of diving, including a night dive!</p>
              </article>
            <article class="col-6 col-12-xsmall work-item">
              <a href="./images/fulls/akumal-fish.png" class="image fit thumb">
                <img src="./images/fulls/akumal-fish.png" alt="" /></a>
              <h3>Akumal Bay 2023</h3>
              <p>Visiting the home of the turtles and colourful fish.</p>
            </article>
		</div>
  </section>
  </div>


  <%- include('partials/footer.ejs') %>
