 <%- include('partials/header.ejs') %>

    <section id="three">
		<h2>My Textile Art</h2>

        <p>I primarily work with textiles. I learned to <a href="#sewing-art">sew garments and quilt</a> in 2022 
            and have been <a href="#yarn-art">knitting & crocheting</a> since 2009. </p>
        <p> I am a member of <a href="https://bodiesofwaterarts.org/">Bodies of Water</a>, an artists collective. 
            My artist CV can be found <a href="/arts-cv">here</a>.
        </p>
        <br>
        <hr>
        <br>
        <h3 id="sewing-art">Sewing</h3>
        <div class="row">
            <article class="col-6 col-12-xsmall work-item">
                <a href="./images/fulls/geometric-quilt.png" class="image fit thumb">
                    <img src="./images/fulls/geometric-quilt.png" alt="" /></a>
                <h3>Geometric Quilt - Quilting cottons (2023)</h3>
                <p>Created for my son, pattern by <a href="https://the-weekendquilter.com/pages/urban-quilting-by-the-weekend-quilter-1">The Weekend Quilter</a>.</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <a href="./images/fulls/animal-patchwork-quilt.png" class="image fit thumb">
                <img src="./images/fulls/animal-patchwork-quilt.png" alt="" /></a>
                <h3>Forest Friends Patchwork Quilt - Quilting cottons (2023)</h3>
                <p>Created for my dear friend's daughter.</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <a href="./images/fulls/first-quilt.png" class="image fit thumb">
                <img src="./images/fulls/first-quilt.png" alt="" /></a>
                <h3>My First Quilt - Quilting cottons (2022)</h3>
                <p>Made following the youtube tutorials by the late (and great) Melanie Ham.</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <a href="./images/fulls/bird-costume.png" class="image fit thumb">
                <img src="./images/fulls/bird-costume.png" alt="" /></a>
                <h3>Little Bird - Random assortment of fabrics found in the remnants bin for the cape + felt feathers (2022)</h3>
                <p>Costume made for my daughter's second Halloween.</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <a href="./images/fulls/log-cabin-project-bag.png" class="image fit thumb">
                <img src="./images/fulls/log-cabin-project-bag.png" alt="" /></a>
                <h3>Log Cabin Project Bag - Quilting cottons (2022)</h3>
                <p>Inspired by the work of <a href="https://www.instagram.com/shopknittingnellie/">@shopknittingnellie</a> and <a href="https://www.instagram.com/justjudebelfast/">@justjudebelfast</a>.</p>
            </article>
        </div>
        <br>
        <hr>
        <br>
        <h3 id="yarn-art">Knitting & Crochet</h3>
		<div class="row">
            <article class="col-6 col-12-xsmall work-item">
                <a href="./images/fulls/yoda-costume.png" class="image fit thumb">
                <img src="./images/fulls/yoda-costume.png" alt="" /></a>
                <h3>Baby Yoda - Acrylic yarns (2021)</h3>
                <p>Costume made for my daughter's first Halloween.</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <a href="./images/fulls/knit-baby-blanket.png" class="image fit thumb">
                <img src="./images/fulls/knit-baby-blanket.png" alt="" /></a>
                <h3>Rainbow Star Blanket - Small-batch hand-dyed wool by <a href="https://www.instagram.com/hypothesisyarns/?hl=en">Hypothesis Yarns</a> (2021)</h3>
                <p>Created for my daughter, using Fly Away pattern by <a href="https://tincanknits.com/pattern/fly-away?g=5">tin can knits</a>.</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <a href="./images/fulls/baby-sweater-yellow.png" class="image fit thumb">
                <img src="./images/fulls/baby-sweater-yellow.png" alt="" /></a>
                <h3>Mini Fade Flax Sweater - Small-batch hand-dyed wool by <a href="https://www.instagram.com/hypothesisyarns/?hl=en">Hypothesis Yarns</a> (2021)</h3>
                <p>Started the week prior to my due date, completed over the fourth trimester, pattern by <a href="https://tincanknits.com/pattern/flax-worsted?g=16">tin can knits</a>.</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <a href="./images/fulls/geometric-shawl.png" class="image fit thumb">
                    <img src="./images/fulls/geometric-shawl.png" alt="" /></a>
                <h3>Geometric Shawl - Merino wool (2020)</h3>
                <p>Created for my lovely mother-in-law, using the <a href="https://www.ravelry.com/patterns/library/forgotten-garden-shawl">Forgotten Garden Shawl</a> pattern by Rose Beck.</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <a href="./images/fulls/transition-sweater.png" class="image fit thumb">
                <img src="./images/fulls/transition-sweater.png" alt="" /></a>
                <h3>Transitions - Merino wool (2018)</h3>
                <p>Sweater created leading up to the dissolution of my first marriage. Pattern by <a href="https://tincanknits.com/pattern/flax-worsted?g=16">tin can knits</a></p>
            </article>
		</div>
  </section>
  </div>


  <%- include('partials/footer.ejs') %>
