 <%- include('partials/header.ejs') %>

    <section id="two">
        <h2>Recent Development Work</h2>

        Over my second parental leave, I completed various courses on web development.
        Below you can find selected <a href="#web-apps">web apps</a>, <a href="#desktop-apps">desktop apps</a>, and <a href="#terminal-apps">command-line apps</a>.
        
        <h3 id="web-apps">Web Apps</h3>
        <div class="row">
            <article class="col-6 col-12-xsmall work-item">
                <a href="./images/fulls/quiltspiration.png" class="image fit thumb">
                  <img src="./images/fulls/quiltspiration.png" alt="" /></a>
                <h3>Quiltspiration</h3>
                <p>A web app built using express JS to serve you inspiration for your next quilt.</p>
                <a href="https://github.com/MCDAngelo/quilt-spiration_from_MET" class="icon brands fa-github">
                  <span class="label">Github </span></a>
                  <a href="https://quilt-spiration-from-met.onrender.com"><span class="label">Live Website</span></a>
              </article>
            <article class="col-6 col-12-xsmall work-item">
              <a href="./images/fulls/checkitoff-multiple_images.png" class="image fit thumb">
                <img src="./images/fulls/checkitoff-multiple_images.png" alt="" /></a>
              <h3>Check It Off</h3>
              <p>Create and save to do lists to help you stay organized.</p>
              <a href="https://github.com/MCDAngelo/to_do_list_website" class="icon brands fa-github">
                <span class="label">Github </span></a>
            </article>
            <article class="col-6 col-12-xsmall work-item">
              <a href="./images/fulls/remote_work_cafes-homepage.png" class="image fit thumb">
                <img src="./images/fulls/remote_work_cafes-homepage.png" alt="" /></a>
              <h3>Coffee Shops for Remote work</h3>
              <p>Find coffee shops that have the amenities you need to work remotely.</p>
              <a href="https://github.com/MCDAngelo/remote_work_coffee_shops_website" class="icon brands fa-github">
                <span class="label">Github </span></a>
              <a href="https://remote-work-coffee-shops-website.onrender.com"><span class="label">Live Website</span></a>
            </article>
          </div>

        <h3 id="desktop-apps">Desktop Apps</h3>
      <div class="row">
        <article class="col-6 col-12-xsmall work-item">
          <a href="./images/fulls/write_it_or_lose_it.png" class="image fit thumb">
            <img src="./images/fulls/write_it_or_lose_it.png" alt="" /></a>
          <h3>Write it or Lose it</h3>
          <p>Desktop app to motivate you to write more - because if you stop, you'll lose your progress.</p>
          <a href="https://github.com/MCDAngelo/writing_disappearing_text_app" class="icon brands fa-github">
            <span class="label">Github </span></a>
        </article>
        <article class="col-6 col-12-xsmall work-item">
          <a href="./images/fulls/breakout-game.png" class="image fit thumb">
            <img src="./images/fulls/breakout-game.png" alt="" /></a>
          <h3>Breakout</h3>
          <p>Play the classic game, Breakout, in this desktop app.</p>
          <a href="https://github.com/MCDAngelo/breakout_game" class="icon brands fa-github">
            <span class="label">Github </span></a>
        </article>
        <article class="col-6 col-12-xsmall work-item">
          <a href="./images/fulls/typing-test-in-progress.png" class="image fit thumb">
            <img src="./images/fulls/typing-test-in-progress.png" alt="" /></a>
          <h3>Typing Test</h3>
          <p>Find out your typing speed and improve it with this desktop app.</p>
          <a href="https://github.com/MCDAngelo/typing_test" class="icon brands fa-github">
            <span class="label">Github </span></a>
        </article>
        <article class="col-6 col-12-xsmall work-item">
          <a href="./images/fulls/watermark-app.png" class="image fit thumb">
            <img src="./images/fulls/watermark-app.png" alt="" /></a>
          <h3>Watermark App</h3>
          <p>Protect your work with configurable watermarks.</p>
          <a href="https://github.com/MCDAngelo/image_watermark_desktop_app" class="icon brands fa-github">
            <span class="label">Github </span></a>
        </article>
        </div>

        <h3 id="terminal-apps">Terminal Apps</h3>
        <div class="row">
        <article class="col-6 col-12-xsmall work-item">
          <a href="./images/fulls/tic-tac-toe-home.png" class="image fit thumb">
            <img src="./images/fulls/tic-tac-toe-home.png" alt="" /></a>
          <h3>Tic Tac Toe</h3>
          <p>Tic Tac Toe from the comfort of your terminal.</p>
          <a href="https://github.com/MCDAngelo/tic_tac_toe" class="icon brands fa-github">
            <span class="label">Github </span></a>
          <a href="https://replit.com/@dangelomaria1/tictactoe">
            <span class="label"> or try it on replit </span></a>
        </article>
        <article class="col-6 col-12-xsmall work-item">
          <a href="./images/fulls/morse-code-converter.png" class="image fit thumb">
            <img src="./images/fulls/morse-code-converter.png" alt="" /></a>
          <h3>Morse Code Converter</h3>
          <p>A lightweight program to convert text to morse code.</p>
          <a href="https://github.com/MCDAngelo/morse_code_converter" class="icon brands fa-github">
            <span class="label">Github </span></a>
          <a href="https://replit.com/@dangelomaria1/morsecodeconverter">
            <span class="label"> or try it on replit </span></a>
        </article>
      </div>
  </section>
  </div>


  <%- include('partials/footer.ejs') %>
