 <%- include('partials/header.ejs') %>

    <!-- One - About -->
    <section id="one">
      <header class="major">
        <h2>About Me</h2>
      </header>
      <p>I've always loved puzzles and problem solving. I also have always been
        a "people person", and was drawn to psychology after a serendipitous
        change to my schedule in undergrad. Since then, I've combined
        my love of problem solving and math with my interest in humans and their behaviours, in academia, data science, and in my art. </p>
	  <p>I am currently a Staff Data Scientist at <a href="https://www.shopify.com/ca/careers">Shopify</a>.</p>
      <ul class="actions">
        <li><a href="/about" class="button">Learn More</a></li>
      </ul>
    </section>
	 

	<!-- Two - Development -->
    <section id="two">
		<h2>Development Work</h2>
		<div class="row">
		  <article class="col-6 col-12-xsmall work-item">
			  <a href="./images/fulls/quiltspiration.png" class="image fit thumb">
				<img src="./images/fulls/quiltspiration.png" alt="" /></a>
			  <h3>Quiltspiration</h3>
			  <p>A web app built using express JS to serve you inspiration for your next quilt.</p>
			  <a href="https://github.com/MCDAngelo/quilt-spiration_from_MET" class="icon brands fa-github">
				<span class="label">Github </span></a>
				<a href="https://quilt-spiration-from-met.onrender.com"><span class="label">Live Website</span></a>
			</article>
		  <article class="col-6 col-12-xsmall work-item">
			<a href="./images/fulls/write_it_or_lose_it.png" class="image fit thumb">
			  <img src="./images/fulls/write_it_or_lose_it.png" alt="" /></a>
			<h3>Write it or Lose it</h3>
			<p>Desktop app to motivate you to write more - because if you stop, you'll lose your progress.</p>
			<a href="https://github.com/MCDAngelo/writing_disappearing_text_app" class="icon brands fa-github">
			  <span class="label">Github </span></a>
		  </article>
		</div>
		<ul class="actions">
		  <li><a href="/development-work" class="button">Recent Work</a></li>
		</ul>
	  </section>
	  
<!-- Three - Art -->
	<section id="three">
		<h2>Art</h2>
		<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href="./images/fulls/geometric-shawl.png" class="image fit thumb">
				<img src="./images/fulls/geometric-shawl.png" alt="" /></a>
			<h3>Geometric Shawl - Knit (2020)</h3>
			<p>Created for my lovely mother-in-law.</p>
			</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href="./images/fulls/knit-baby-blanket.png" class="image fit thumb">
			<img src="./images/fulls/knit-baby-blanket.png" alt="" /></a>
			<h3>Rainbow Star Blanket - Knit (2021)</h3>
			<p>Created for my first-born.</p>
		</article>
		</div>
		<ul class="actions">
		<li><a href="/art" class="button">More Creations</a></li>
		</ul>
    </section>

    <!-- Four - Adventures -->
    <section id="four">
      <h2>Adventures</h2>
      <div class="row">
        <article class="col-6 col-12-xsmall work-item">
          <a href="./images/fulls/torres-del-paine-end.png" class="image fit thumb">
            <img src="./images/fulls/torres-del-paine-end.png" alt="" /></a>
          <h3>O-Circuit in Torres del Paine 2020</h3>
          <p>Breathtaking views, high winds, and new friends.</p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
          <a href="./images/fulls/tronador-evening.png" class="image fit thumb">
            <img src="./images/fulls/tronador-evening.png" alt="" /></a>
          <h3>Weekend in Tronador 2020</h3>
          <p>A refugio surrounded by glaciers.</p>
        </article>
      </div>
      <ul class="actions">
        <li><a href="/adventures" class="button">More Photos</a></li>
      </ul>
    </section>

  </div>

  <%- include('partials/footer.ejs') %>
